<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Panda News</h5>

        <p>
          Welcome to our comprehensive website, your go-to destination for the
          latest news and updates spanning business, entertainment, general,
          health, science, sports, and technology. Stay informed and ahead with
          our carefully curated articles, providing you with valuable insights
          into the ever-evolving world of these diverse fields. Discover a
          wealth of knowledge at your fingertips.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Categories</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="{% url 'news-topic' 'General' %}" class="text-white"
              >General</a
            >
          </li>
          <li>
            <a href="{% url 'news-topic' 'Entertainment' %}" class="text-white"
              >Entertainment</a
            >
          </li>
          <li>
            <a href="{% url 'news-topic' 'Science' %}" class="text-white"
              >Science</a
            >
          </li>
          <li>
            <a href="{% url 'news-topic' 'Crypto' %}" class="text-white"
              >Crypto</a
            >
          </li>
          <li>
            <a href="{% url 'news-topic' 'Loan' %}" class="text-white">Loan</a>
          </li>
          <li>
            <a href="{% url 'news-topic' 'StudentLoan' %}" class="text-white"
              >StudentLoan</a
            >
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">More</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'news-topic' 'Sports' %}" class="text-white"
              >Sports</a
            >
          </li>
          <li>
            <a href="{% url 'news-topic' 'Technology' %}" class="text-white"
              >Technology</a
            >
          </li>
          <li>
            <a href="{% url 'news-topic' 'Business' %}" class="text-white"
              >Business</a
            >
          </li>
          <li>
            <a href="{% url 'news-topic' 'Health' %}" class="text-white"
              >Health</a
            >
          </li>
          <li>
            <a
              href="{% url 'news-topic' 'hackers-hacking' %}"
              class="text-white"
              >Hackers</a
            >
          </li>
          <li>
            <a
              href="{% url 'news-topic' 'anonymous-hacking' %}"
              class="text-white"
              >Anonymous</a
            >
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="/">PandaNews</a>
  </div>
  <!-- Copyright -->
</footer>
