{% extends "news/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}

    <div class="container my-5 col-md-5">

        <div class="card p-4">
            <h3>Password reset</h3>

            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
<!-- 
            {% if Error %}
                <div class="alert alert-danger" role="alert">
                    Error: {{ Error }}
                </div>
            {% endif %} -->
            <form method="POST" action="{% url 'reset_password' %}" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <div class="form-outline my-3">
                    <input type="email" id="id_email" autocomplete="email" maxlength="254" required name="email" class="form-control" />
                    <label class="form-label" for="id_email">Email</label>
                </div>

                <button type="submit" class="btn btn-primary">Reset my password</button>
            </form>

        </div>


    </div>

{% endblock %}